* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgba(9, 11, 32, 0.883);
  display: flex;
}

nav {
  width: max-content;
  border-right: 2px solid white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 30px 0px;
  position: static;
}

.nav-logo {
  margin-right: 10px;
}

ul {
  align-self: center;
}

li {
  padding: 15px 10px;
}

li.sup {
  display: flex;
  align-items: center;
  margin-bottom: 4vh;
  /* border: 2px solid white; */
}

ul li, li a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.social {
  /* border: 2px solid white; */
}

.home {
  width: 90%;
}

.home-card {
  width: auto;
  margin: 5vh;
  padding: 3vw;
  border: 2px solid white;
}

.presentation {

}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  justify-content: space-between;
}

.skill-card {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
}
